[Desktop Entry]
Name=Flare
Comment=Ultimate Linux Launcher
Icon=application-x-executable
Exec=flare
Type=Application
Categories=Utility;
Terminal=false
